{{define "aside"}}
<aside role="left-nav">

    <div role="aside-menu">
        <span>Library</span>
        <span class={{if (eq .Active "/u/books") }}"active" {{else}} "" {{end}}>
            <a href="/u/books"><i class="material-icons">library_books</i>Books</a>
        </span>
    </div>

    <hr>

    <div role="aside-menu">
        <span>New</span>
        <span class={{if (eq .Active "/u/books/new") }}"active" {{else}} "" {{end}}>
            <a href="/u/books/new"><i class="material-icons">library_add</i>Book</a>
        </span>
    </div>

</aside>
{{end}}