{{define "books"}}
    <div role="book-shelf">
        {{with .Epubs}}
            {{range .}}
                <div class="book">
                    {{if .HasCover}}
                        <a href="/u/i/?book={{.SHA256}}" target="_blank"><img src="{{.CoverPath}}" alt=""></a>
                    {{else}}
                        <a href="/u/i/?book={{.SHA256}}" target="_blank"><img src="/images/NoBookCoverImage.jpg" alt=""></a>
                    {{end}}
                    <span title="{{.Title}}">{{.Title}}</span>
                    <span title="{{.Author}}">{{.Author}}</span>
                </div>
            {{end}}
        {{end}}
    </div>
{{end}}