{{define "explorer"}}
{{template "header" .}}
<link rel="stylesheet" href="/styles/style.css">
<script src="https://unpkg.com/micromodal/dist/micromodal.min.js"></script>

{{template "aside" .}}
<section class="explorer">

    <div for="control">
        <form class="pure-form new-list">
            <input type="text" name="name"  placeholder="Folder Name" required maxlength="100">
            <input class="pure-button" type="submit" value="New Folder">
        </form>
        <button class="new-book pure-button">New Book</button>
    </div>

    <div for="upload-books" style="display: none;">
        {{template "books/new" .}}
    </div>    

    <div for="show-lists">
    </div>

    <div for="show-books">
        {{template "books" .List}}
    </div>


</section>

<script>
    var newListEndPoint ="/u/lists/{{.List.ID}}/child/new"
</script>

<script src="/scripts/explorer.js"></script>

{{template "footer" .}}
{{end}}