{{define "topBooks"}}
{{template "header" .}}
<link rel="stylesheet" href="/styles/style.css">
{{template "aside" .}}
<section>
    <div role="book-shelf">

        <div class="book">
            <img src="https://via.placeholder.com/140x200" alt="">
            <span>The Name of the Wind</span>
            <span>Patrick Rothfuss</span>
        </div>
        <div class="book">
            <img src="https://via.placeholder.com/140x200" alt="">
            <span>The Name</span>
            <span>Patrick</span>
        </div>
        <div class="book">
            <img src="https://via.placeholder.com/140x200" alt="">
            <span>The Name of the Wind</span>
            <span>Patrick Rothfuss shakespear godlike</span>
        </div>
        <div class="book">
            <img src="https://via.placeholder.com/140x200" alt="">
            <span>The Name of the Wind</span>
            <span>Patrick Rothfuss</span>
        </div>
        <div class="book">
            <img src="https://via.placeholder.com/140x200" alt="">
            <span>The Name of the Wind</span>
            <span>Patrick Rothfuss</span>
        </div>
        <div class="book">
            <img src="https://via.placeholder.com/140x200" alt="">
            <span>The Name of the Wind</span>
            <span>Patrick Rothfuss</span>
        </div>
        <div class="book">
            <img src="https://via.placeholder.com/140x200" alt="">
            <span>The Name of the Wind</span>
            <span>Patrick Rothfuss</span>
        </div>
        <div class="book">
            <img src="https://via.placeholder.com/140x200" alt="">
            <span>The Name of the Wind</span>
            <span>Patrick Rothfuss</span>
        </div>
        <div class="book">
            <img src="https://via.placeholder.com/140x200" alt="">
            <span>The Name of the Wind</span>
            <span>Patrick Rothfuss</span>
        </div>
        <div class="book">
            <img src="https://via.placeholder.com/140x200" alt="">
            <span>The Name of the Wind</span>
            <span>Patrick Rothfuss</span>
        </div>
        <div class="book">
            <img src="https://via.placeholder.com/140x200" alt="">
            <span>The Name of the Wind</span>
            <span>Patrick Rothfuss</span>
        </div>

        <div class="book">
            <img src="https://via.placeholder.com/140x200" alt="">
            <span>The Name of the Wind</span>
            <span>Patrick Rothfuss</span>
        </div>
        <div class="book">
            <img src="https://via.placeholder.com/140x200" alt="">
            <span>The Name</span>
            <span>Patrick</span>
        </div>
        <div class="book">
            <img src="https://via.placeholder.com/140x200" alt="">
            <span>The Name of the Wind</span>
            <span>Patrick Rothfuss shakespear godlike</span>
        </div>
        <div class="book">
            <img src="https://via.placeholder.com/140x200" alt="">
            <span>The Name of the Wind</span>
            <span>Patrick Rothfuss</span>
        </div>
        <div class="book">
            <img src="https://via.placeholder.com/140x200" alt="">
            <span>The Name of the Wind</span>
            <span>Patrick Rothfuss</span>
        </div>
        <div class="book">
            <img src="https://via.placeholder.com/140x200" alt="">
            <span>The Name of the Wind</span>
            <span>Patrick Rothfuss</span>
        </div>
        <div class="book">
            <img src="https://via.placeholder.com/140x200" alt="">
            <span>The Name of the Wind</span>
            <span>Patrick Rothfuss</span>
        </div>
        <div class="book">
            <img src="https://via.placeholder.com/140x200" alt="">
            <span>The Name of the Wind</span>
            <span>Patrick Rothfuss</span>
        </div>
        <div class="book">
            <img src="https://via.placeholder.com/140x200" alt="">
            <span>The Name of the Wind</span>
            <span>Patrick Rothfuss</span>
        </div>
        <div class="book">
            <img src="https://via.placeholder.com/140x200" alt="">
            <span>The Name of the Wind</span>
            <span>Patrick Rothfuss</span>
        </div>
        <div class="book">
            <img src="https://via.placeholder.com/140x200" alt="">
            <span>The Name of the Wind</span>
            <span>Patrick Rothfuss</span>
        </div>

        <div class="book">
            <img src="https://via.placeholder.com/140x200" alt="">
            <span>The Name of the Wind</span>
            <span>Patrick Rothfuss</span>
        </div>
        <div class="book">
            <img src="https://via.placeholder.com/140x200" alt="">
            <span>The Name</span>
            <span>Patrick</span>
        </div>
        <div class="book">
            <img src="https://via.placeholder.com/140x200" alt="">
            <span>The Name of the Wind</span>
            <span>Patrick Rothfuss shakespear godlike</span>
        </div>
        <div class="book">
            <img src="https://via.placeholder.com/140x200" alt="">
            <span>The Name of the Wind</span>
            <span>Patrick Rothfuss</span>
        </div>
        <div class="book">
            <img src="https://via.placeholder.com/140x200" alt="">
            <span>The Name of the Wind</span>
            <span>Patrick Rothfuss</span>
        </div>
        <div class="book">
            <img src="https://via.placeholder.com/140x200" alt="">
            <span>The Name of the Wind</span>
            <span>Patrick Rothfuss</span>
        </div>
        <div class="book">
            <img src="https://via.placeholder.com/140x200" alt="">
            <span>The Name of the Wind</span>
            <span>Patrick Rothfuss</span>
        </div>
        <div class="book">
            <img src="https://via.placeholder.com/140x200" alt="">
            <span>The Name of the Wind</span>
            <span>Patrick Rothfuss</span>
        </div>
        <div class="book">
            <img src="https://via.placeholder.com/140x200" alt="">
            <span>The Name of the Wind</span>
            <span>Patrick Rothfuss</span>
        </div>
        <div class="book">
            <img src="https://via.placeholder.com/140x200" alt="">
            <span>The Name of the Wind</span>
            <span>Patrick Rothfuss</span>
        </div>
        <div class="book">
            <img src="https://via.placeholder.com/140x200" alt="">
            <span>The Name of the Wind</span>
            <span>Patrick Rothfuss</span>
        </div>

        <div class="book">
            <img src="https://via.placeholder.com/140x200" alt="">
            <span>The Name of the Wind</span>
            <span>Patrick Rothfuss</span>
        </div>
        <div class="book">
            <img src="https://via.placeholder.com/140x200" alt="">
            <span>The Name</span>
            <span>Patrick</span>
        </div>
        <div class="book">
            <img src="https://via.placeholder.com/140x200" alt="">
            <span>The Name of the Wind</span>
            <span>Patrick Rothfuss shakespear godlike</span>
        </div>
        <div class="book">
            <img src="https://via.placeholder.com/140x200" alt="">
            <span>The Name of the Wind</span>
            <span>Patrick Rothfuss</span>
        </div>
        <div class="book">
            <img src="https://via.placeholder.com/140x200" alt="">
            <span>The Name of the Wind</span>
            <span>Patrick Rothfuss</span>
        </div>
        <div class="book">
            <img src="https://via.placeholder.com/140x200" alt="">
            <span>The Name of the Wind</span>
            <span>Patrick Rothfuss</span>
        </div>
        <div class="book">
            <img src="https://via.placeholder.com/140x200" alt="">
            <span>The Name of the Wind</span>
            <span>Patrick Rothfuss</span>
        </div>
        <div class="book">
            <img src="https://via.placeholder.com/140x200" alt="">
            <span>The Name of the Wind</span>
            <span>Patrick Rothfuss</span>
        </div>
        <div class="book">
            <img src="https://via.placeholder.com/140x200" alt="">
            <span>The Name of the Wind</span>
            <span>Patrick Rothfuss</span>
        </div>
        <div class="book">
            <img src="https://via.placeholder.com/140x200" alt="">
            <span>The Name of the Wind</span>
            <span>Patrick Rothfuss</span>
        </div>
        <div class="book">
            <img src="https://via.placeholder.com/140x200" alt="">
            <span>The Name of the Wind</span>
            <span>Patrick Rothfuss</span>
        </div>
    </div>
</section>
{{template "footer" .}}
{{end}}