@import url("/styles/common.css");

@import "_explorer.scss";

body {
    display: grid;
    grid-template: 50px 1fr / 1fr
}

main {
    display: grid;
    grid-template: 1fr / 200px 1fr;
    margin-top: 30px;

}

@media only screen and (max-width: 600px) {
    main {
        display: grid;
        grid-template: 120px 1fr /  1fr;
        margin-top: 5px;
    
    }
    aside[role=left-nav] {
        padding: 5px 17px;
    }
    .book {
        margin: 10px 10px;
    }
}

@media only screen and (min-width: 601px) {
    main {
        display: grid;
        grid-template: 1fr / 200px 1fr;
        margin-top: 30px;
    }

    aside[role=left-nav] {
        padding: 10px 25px;
    }

    .book {
        margin: 10px 15px;
    }
}


div[role=book-shelf] {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}


aside[role=left-nav] {
    user-select: none;
    &>hr {
        margin: 30px 0px 30px 5px;
        padding-left: 5px;
    }
}


div[role=aside-menu] {
    display: flex;
    flex-direction: column;

    &>span {
        display: flex;
        align-items: center;
        margin: 2px 0px;
        font-size: 1.1em;
        color: rgb(87, 87, 87);
        padding-left: 5px;
        line-height: 2;  
        
        &:first-child {
            color: rgb(110, 110, 110);
            text-transform: uppercase;
            margin-bottom: 10px;
            margin-top: 0px;
        }
        
        i {
            margin-right: 7px;
            font-size: 1.1em;
        }

        a {
            color: rgb(87, 87, 87);
            text-decoration: none;
            width: 100%;
            display: flex;
            align-items: center;
        }
    }

    &>span.active {
        background-color: rgb(220, 220, 220);
    }

    &>span:not(:first-child):hover {
        background-color: rgb(220, 220, 220);
    }
}

.book {
    width: 160px;
    height: 245px;
    box-shadow: 0 0 2px #bbb;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;

    a img {
        width: 160px;
        height: 200px;
    }

    &>span {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        margin: 5px 3px 0px 3px;

        &:first-of-type {
            color: rgb(87, 87, 87);
            font-size: 0.8em;
        }

        &:last-child {
            color: rgb(110, 110, 110);
            font-size: 0.7em;
        }
    }
    
}

footer {
    display: flex;
    justify-content: center;
    line-height: 2em;
    align-items: center;

    footer a {
        color: rgb(87, 87, 87);
        text-decoration: none;
    }
    
}


